<!-- BEGIN PRE-FOOTER -->
<div class="page-prefooter">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>About</h2>
                <p> {{settings.about}} </p>
                <p> Powered by <a href="https://github.com/genom-project/explorer" target="_blank">GENOM Explorer</a> </p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>Follow Us On</h2>
                <ul class="social-icons">
                    <li>
                        <a ng-show="settings.rss" href="{{settings.rss}}" target="_blank" data-original-title="rss" class="rss"></a>
                    </li>
                    <li>
                        <a ng-show="settings.reddit" href="{{settings.reddit}}" target="_blank" data-original-title="reddit" class="reddit"></a>
                    </li>
                    <li>
                        <a ng-show="settings.twitter" href="{{settings.twitter}}" target="_blank" data-original-title="twitter" class="twitter"></a>
                    </li>
                    <li>
                        <a ng-show="settings.github" href="{{settings.github}}" target="_blank" data-original-title="github" class="github"></a>
                    </li><!-- 
                    <li>
                        <a ng-show="settings.linkedin" href="{{settings.linkedin}}" target="_blank" data-original-title="linkedin" class="linkedin"></a>
                    </li> -->
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 footer-block">
                <h2>Help, it's Broken!</h2>
                <address class="margin-bottom-40"> 
                    Open an Issue: <a href="https://github.com/genom-project/explorer/issues" target="_blank">github</a>
                    <br> <a href="mailto:info@genom.tech">Email bug reports</a>
                </address>
            </div>
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->
<!-- BEGIN POST-FOOTER -->
<div class="page-footer">
    <div class="container" ng-bind-html="settings.copyright"></div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END POST-FOOTER -->